{% extends 'base.html' %}
{% load static %}

{%block barra%}
<ul class="nav navbar-nav navbar-right">
    <li><a href="{%url 'timeline:index'%}">Página inicial</a></li>
    <li><a href="{%url 'usuario:perfil'%}">Perfil</a></li>
    <li><a href="{%url 'usuario:logout'%}">Sair</a></li>
  </ul>
{%endblock%}

{% block conteudo%}
<div class="row">
    <div class="col-md-3">
      <!-- profile brief -->
      <div class="panel panel-default">
        <div class="media-left">
          {% if meu_avatar == None%}
          <img src="{% static 'img/foto.jpeg' %}" class="media-object" style="width: 128px; height: 128px;">
          {% else %}
          <img src="{{meu_avatar.foto.url}}" class="media-object" style="width: 128px; height: 128px;">
          {%endif%}
        </div>
        <div class="panel-body">
          <h4>{{user.first_name}} {{user.last_name}}</h4>
          <p>Status: {{minha_bio.status}}</p>
          <p>Localizaçao: {{minha_bio.localizacao}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- post form -->
      <form method="post" action="{%url 'usuario:chat-privado' amigo.id%}">
        {% csrf_token%}
        <div class="input-group">
          <input class="form-control" type="text" name="mensagem" placeholder="Digite uma mensagem...">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" name="post">Enviar mensagem</button>
          </span>
        </div>
      </form>
      <hr>
      <div>
        <h4>Mensagens</h4>

        {%for mensagem in mensagens%}
          <div class="row">
            {% if mensagem.remetente == user%}
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">{{mensagem.remetente.first_name}}</div>
                  <div class="panel-body">
                    <p>{{mensagem.texto}}</p>
                  </div>
                  <div class="panel-footer">
                    <span>{{mensagem.data}} </span> 
                  </div>
                </div>
              </div>
              {%else%}
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">{{mensagem.remetente.first_name}}</div>
                  <div class="panel-body">
                    <p>{{mensagem.texto}}</p>
                  </div>
                  <div class="panel-footer">
                    <span>{{mensagem.data}} </span> 
                  </div>
                </div>
              </div>
            {%endif%}
          </div>
        {%endfor%} 
      </div>
      <!-- ./feed -->
    </div>
    <div class="col-md-3">
      <!-- profile brief -->
      <div class="panel panel-default">
        <div class="media-left">
          {% if avatar_amigo == None%}
          <img src="{% static 'img/foto.jpeg' %}" class="media-object" style="width: 128px; height: 128px;">
          {% else %}
          <img src="{{avatar_amigo.foto.url}}" class="media-object" style="width: 128px; height: 128px;">
          {%endif%}
        </div>
        <div class="panel-body">
          <h4>{{amigo.first_name}} {{amigo.last_name}}</h4>
          <p>Status: {{bio_amigo.status}}</p>
          <p>Localizaçao: {{bio_amigo.localizacao}}</p>
        </div>
      </div>
    </div>
  </div>
{%endblock%}